<div class="art">

  <div class="art-title">
    <span class="art-capitalized">{{ subject }}</span> Table
  </div>

  <div class="art-result">
    <div class="art-mb">
      Generated <span class="art-capitalized">{{ subject }}</span>
    </div>

    <div>
      <div *ngFor="let selectedOption of generated">
        <span class="art-capitalized">{{ selectedOption.name }}</span> : <span class="art-capitalized">{{ selectedOption.value }}</span>
      </div>
    </div>
  </div>

  <div class="art-btn-wrapper">
    <button
      class="art-mr"
      (click)="generateNew()">
      New
    </button>
    <button
      class="art-ml"
      (click)="toggleTable()">
      Table
    </button>
  </div>

  <div *ngIf="showTable">
      <table class="art-table">
        <thead class="art-table-head">
          <th>Roll</th>
          <th *ngFor="let header of headers">{{ header }}</th>
        </thead>
        <tbody class="art-table-body">
          <tr class="art-table-row" *ngFor="let row of rows; index as i">
            <td>{{ i + 1 }}</td>
            <td *ngFor="let option of row">{{ option }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
